.header {
    display: flex;
    justify-content: space-between;
    height: 68px;
    margin: 40px 60px 63px 40px;
    @include breakpoint (medium) {
        margin: 40px 60px 63px 20px;          
    }
    @include breakpoint (small) {
        margin: 20px 20px 5px 10px;           
    }
    &__logo {
        height: 68px;
        width: 210px;
        @include breakpoint (small) {
            height: 47px;
            width: 145px;             
        }
    }
    &__nav {
        height: 34px;
        width: 450px;
        text-align: right;
        margin-top: 20px;
        a:hover {
            text-decoration-line: underline;
        }
        @include breakpoint (small) {
            margin-top: 10px;   
            height: 17px;
            width: 180px;       
        }
    }
    a {
        height: 34px;
        width: 116px;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        padding-left: 40px;
        color: $primary_color;
        text-decoration: none;
        @include breakpoint (small) {
            text-transform: uppercase;
            font-size: 12px;
            height: 17px;
            width: 71px;
            padding-left: 12px;
        }
    }
}